In [39]:
import numpy as np
import pandas as pd

In [40]:
df=pd.read_csv("stressd.csv")

In [41]:
import nltk
import re
from nltk.corpus import stopwords 
import string
nltk.download('stopwords')
stemmer = nltk.SnowballStemmer("english")
stopword=set (stopwords.words('english'))
def clean(text):
    text = str(text). lower ()
    text = re.sub('\[.*?\]', '', text)
    text =re.sub('https?://\S+|www\.\S+', '',text)
    
    text = re.sub('<.?>+','', text)
    text = re.sub(' [%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '',text)
    text = re. sub('\w*\d\w*', '',text)
    text = [word for word in text.split(' ') if word not in stopword]
    text =" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text =" ". join(text)
    return text
df["text"] = df["text"].apply(clean)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\harib\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [42]:
df["label"] = df["label"].map({0:"No Stress", 1: "Stress"})
df = df[["text","label"]]
df.head()

                                                text      label
0  said felt way before, sugget go rest so.trigg ...     Stress
1  hey r/assistance, sure right place post this.....  No Stress
2  mom hit newspap shock would this, know like pl...     Stress
3  met new boyfriend, amazing, kind, sweet, good ...     Stress
4  octob domest violenc awar month domest violenc...     Stress

In [43]:
df.dropna()

                                                   text      label
0     said felt way before, sugget go rest so.trigg ...     Stress
1     hey r/assistance, sure right place post this.....  No Stress
2     mom hit newspap shock would this, know like pl...     Stress
3     met new boyfriend, amazing, kind, sweet, good ...     Stress
4     octob domest violenc awar month domest violenc...     Stress
...                                                 ...        ...
2833  * her, week ago: precious, you?i ignor her.) h...  No Stress
2834  abil cope anymore. i'm trying, lot thing trigg...     Stress
2835  case first time read post... look peopl will c...  No Stress
2836  find normal? good relationship. main problem s...  No Stress
2837  talk mom morn said sister. trauma wors mine de...     Stress

[2838 rows x 2 columns]

In [44]:
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.model_selection import train_test_split
x = np.array(df["text"])
y = np.array(df[ "label"])
cv = CountVectorizer()
x = cv.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(x, y,test_size=0.33, random_state=42)

In [46]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()
model.fit(xtrain, ytrain)

BernoulliNB()

In [60]:
Y_predb=model.predict(xtest)
ypredetc=etc.predict(xtest)

In [53]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from collections import Counter

In [54]:
from sklearn.ensemble import ExtraTreesClassifier
etc=ExtraTreesClassifier(n_jobs=-1,random_state = None)
etc.fit(xtrain,ytrain)

ExtraTreesClassifier(n_jobs=-1)

In [ ]:
accuracy_score(Y_test, Y_predetc)

In [66]:
d="I am very stressed"
data=cv.transform([d]).toarray()
output=model.predict(data)
print(output)

['Stress']

In [11]:
df2=pd.read_csv("dreaddit-test.csv")

In [12]:
df4=pd.read_csv("dreaddit-train.csv")

In [13]:
df3=pd.DataFrame()
df5=pd.DataFrame()

In [14]:

df3["text"]=df2["text"]
df5["text"]=df4["text"]

In [15]:
df3["label"]=df2["label"]
df5["label"]=df4["label"]

In [16]:
df5

                                                   text  label
0     He said he had not felt that way before, sugge...      1
1     Hey there r/assistance, Not sure if this is th...      0
2     My mom then hit me with the newspaper and it s...      1
3     until i met my new boyfriend, he is amazing, h...      1
4     October is Domestic Violence Awareness Month a...      1
...                                                 ...    ...
2833  * Her, a week ago: Precious, how are you? (I i...      0
2834  I don't have the ability to cope with it anymo...      1
2835  In case this is the first time you're reading ...      0
2836  Do you find this normal? They have a good rela...      0
2837  I was talking to my mom this morning and she s...      1

[2838 rows x 2 columns]

In [17]:
fr=[df,df3]

In [18]:
re=pd.concat(fr)

In [19]:
re

                                                  text      label
0    said felt way before, sugget go rest so.trigg ...     Stress
1    hey r/assistance, sure right place post this.....  No Stress
2    mom hit newspap shock would this, know like pl...     Stress
3    met new boyfriend, amazing, kind, sweet, good ...     Stress
4    octob domest violenc awar month domest violenc...     Stress
..                                                 ...        ...
710  i have horrible vivid nightmares every night. ...          1
711  Also I can't think about both of them without ...          1
712  Furthermore, I told him before we got really s...          1
713  Here's the link to my amazon wish list where t...          0
714  How can I keep us protected? They have already...          1

[3553 rows x 2 columns]

In [ ]:
import csv 
import json 
csvFilePath=""
def csv_to_json(csvFilePath, jsonFilePath):
    jsonArray = []
      
    #read csv file
    with open(csvFilePath, encoding='utf-8') as csvf: 
        #load csv file data using csv library's dictionary reader
        csvReader = csv.DictReader(csvf) 

        #convert each csv row into python dict
        for row in csvReader: 
            #add this python dict to json array
            jsonArray.append(row)
  
    #convert python jsonArray to JSON String and write to file
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf: 
        jsonString = json.dumps(jsonArray, indent=4)
        jsonf.write(jsonString)
          
csvFilePath = r'data.csv'
jsonFilePath = r'data.json'
csv_to_json(csvFilePath, jsonFilePath)